.categories-head{
    .categories-wrapper{
        background-color: black;
        .category{
            text-decoration: none;
            color: #FFFFFF;
            font-size: 17px;
        }
        .offer{
            color: #F11133;
            text-decoration: none;
            font-size: 17px;
        }
    }
}